@keyframes borderAnimate {
    0% {
        background-position: 100% 0;
    }
    0% {
        background-position: -100% 0;
    }
}

/* scroll animation */
/* Scroll animation */
@keyframes animateRow {
    from {
        transform: scale(0.1);
        opacity: 0; /* Optional: fade in effect */
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate {
    animation: animateRow 0.5s linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    visibility: visible;
}

.menu_icon {
    display: none;
}

@media (max-width: 920px) {
    .navbar {
        transition: max-height 0.3s ease;
        max-height: 0;
    }
    .menu_icon {
        display: block;
    }
    .navigation_bar {
        border: none;
        box-shadow: none;
    }
    .logo_content {
        display: flex;
        justify-content: space-around;
    }

    .navbar {
        position: absolute;
        top: 10rem;
        left: 0;

        text-align: center;
        flex-direction: column;

        padding: 2rem;
        gap: 0;
        overflow: hidden;
    }

    .navbar .nav_item {
        width: 100%;
        padding: 2rem;
    }
    .navbar .nav_item:hover {
        width: 100%;
    }
    .bx {
        padding-right: 1rem;
        cursor: pointer;
    }
}

@media (max-width: 510px) {
    .register_button {
        display: none;
    }
    .navbar .nav_item {
        padding: 3rem;
    }
}

/* horizontal scroll bar */
@media (max-width: 1200px) {
    .gallery_box > span {
        flex: 0 0 50%;
    }
}

@media (max-width: 768px) {
    .gallery_box > span {
        flex: 0 0 100%;
    }

    .gallery_box > span img {
        width: 100%;
        height: 35rem;
    }
    .gallery_icon {
        /* padding: 0 -2rem 0 -2rem; */
        align-items: center;
        margin: 1rem;
    }
}
@media (max-width: 500px) {
    .gallery_box > span {
        flex: 0 0 100%;
    }

    .gallery_box > span img {
        width: 100%;
        height: 35rem;
    }
    .gallery_icon {
        /* padding: 0 -2rem 0 -2rem; */
        align-items: center;
        margin: 1rem;
    }
}
